# Week3 - Homework

Write a rule based predictor for a given matrix

* Don't use a machine learning model (You can use PCA)

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/iris.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [2]:
df.species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [3]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

#Creating Rules

In [4]:
data_setosa=df[df['species']=='Iris-setosa']
data_setosa.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [5]:
data_versicolor=df[df['species']=='Iris-versicolor']
data_versicolor.describe()

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [6]:
data_virginica=df[df['species']=='Iris-virginica']
data_virginica.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

From the above tables, we can draw the following conclusions :

1.Maximum value of petal width for setosa is 0.6 which is even smaller than minimum petal width of versicolor and virginica. [ Therefore, If petal_width<=0.6 then Iris-setosa ]

2.Maximum value of petal length for veriscolor is 5.1 whereas 75% of virginica have petal length greater than 5.1. [ Therefore, If petal length>=5.1 then Iris-virginica ]

3.Minimum value of petal length for virginica is 4.5 whereas more than 50% of veriscolor have petat length lessee than 4.5. [ Therefore, If petal length<=4.5 then Iris-veriscolor ]

4.From 3, more than 50% of virginica [ 0-50%] are covered, which means if we need to cover remianing 50% veriscolor [50-100%] then we can consider sepal width in the range 2.8-3.4. [ Therefore, If sepal width >=2.8 and <=3.4 then Iris-veriscolor ]

5.For the remaining cases we can just return virginica.

In [7]:
def predict_one(sepal_length, sepal_width, petal_length, petal_width):
    if petal_width<=0.6:
      return 'Iris-setosa'
    
    elif petal_length<=4.5:
      return 'Iris-versicolor'
    
    elif petal_length>=5.1:
      return 'Iris-virginica'

    elif sepal_width>=2.8 and sepal_width<=3.4 :
      return 'Iris-versicolor'

    else:
      return 'Iris-virginica'

In [8]:
predictions = pd.Series([ predict_one(*line) for line in df.iloc[:, :4].to_numpy()])
accuracy = sum(df.species == predictions) / len(df)
print(f"Accuracy: {accuracy}")

Accuracy: 0.9533333333333334